[submodule "lib/raylib"]
	path = lib/raylib
	url = https://github.com/raysan5/raylib.git
	ignore = dirty
[submodule "lib/zlib"]
	path = lib/zlib
	url = https://github.com/madler/zlib.git
	ignore = dirty
[submodule "lib/json-c"]
	path = lib/json-c
	url = https://github.com/json-c/json-c
