/.vs
*.user
*.filters
/x64
/Release
/Debug
/wispy
/.vscode/settings.json
/.vscode/c_cpp_properties.json
/out
/android/keys/*.jks
/android/keys/*.pem
/android/keys/*.der
/android/keys/*.b64
/.DS_Store
RELEASE.md